@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Seaweed+Script&display=swap');

body {
    margin: 0; /* Remove margin from the body element */
    padding: 0; /* Remove padding from the body element */
    /* background-color: #00000f; */
    background-color: #00000f;
}

.fornow{
    display: flex;
    flex-direction: row;
}

.temp{
    font-size: 40px;
    font-family: 'Seaweed Script', cursive;
    color: #ff7cb3;
    padding-top: 3%;
    padding-left: 5px; 
    font-weight: bold;
    text-shadow: 0 0 7px #9e0000, 0 0 11px #ba2e2e, 0 0 15px #ff7676;

}

.maroon-bar {
    display: flex;
    flex-direction: row;
    background-color: #080630; /* Set the background color to maroon */
    color: white; /* Set the text color to white */
    text-align: center; /* Center-align the text within the bar */
    font-family: 'Seaweed Script', cursive;
    align-items: center;
    justify-content: space-between;
}

/* .title{
    color: #ff7cb3;
    font-size: 70px;
    font-family: 'Seaweed Script', cursive;

    color: #ff7cb3;
    text-shadow: 0 0 7px #9e0000, 0 0 11px #ba2e2e, 0 0 15px #ff7676;
} */

.revSpot{
    width: 15%;
    height: 15%;
    padding-left: 3%;
}

.home{
    color: #ff7cb3;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Seaweed Script', sans-serif;
    font-size: 35px;
    text-shadow: 0 0 7px #9e0000, 0 0 11px #ba2e2e, 0 0 15px #ff76;
    transition: transform 0.2s ease;
}

.home:hover{
    transform: scale(1.5);
}

header>div{
    margin-right: 60px;
}

#map {
    height: 500px;
    width: 100%;
    margin-top: 35px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #ff7cb3;
}

#update-button {
    font-family: 'Raleway', sans-serif;
    background-color: whitesmoke;
    color: #080630;
    border: 1px solid gray;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-top: 10px;
   
}

#update-button:hover {
    background-color: #080630;
    color : #ff7cb3;
}

label {
    font-family : 'Raleway', sans-serif;
    font-weight: 700;
    font-size: larger;
}

location-input {
    text-align: center;
}

.enter{
    color: #ff7cb3;
}

a{
    text-decoration: none;
}

a:visited{
    color: #ff7cb3;
}

